<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Add"/>
        </MudText>
    </TitleContent>
    <DialogContent>
        <h4>Aqui va el contenido</h4>
    </DialogContent>
</MudDialog>